.tasks-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    &.empty {
        min-height: 100vh;
    }

    .tasks-card {
        max-width: 480px;
        width: 100%;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
        padding: 1rem;
    }

    .tasks-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        p {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5;
        }

        button {
            padding: 12px 24px;
            font-weight: 600;
        }
    }

    .tasks-accordion {
        margin: 5%;
    }

    .tasks-title {
        white-space: nowrap;
    }

    .tasks-icon {
        margin: 0 2% 0 3%;
    }

    .tasks-expansion-panel {
        margin: 1rem 5%;
        padding: 1%;
    }

    .task-action-button {
        margin-right: 1%;
    }
}