.meus-dados-card {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;

    .meus-dados-header {
        padding: 0 1rem;

        .meus-dados-header {
            padding-bottom: 1rem;
        }
    }

    .item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}